/* #fff = top bar
   #004065 = top bar text, hover
   #0096D6 = guest/name
   #004065 = search bar
   #E9D5A3 = sign in
*/
/*--------Top Banner ---------------*/

/*Top Banner Background Color */
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1 {
	background-color: #fff; 
}

/*-----User Area -------*/

/* Links in main menu */
  prm-main-menu[menu-type=menu] .md-button {
      font-size: .85em;
  }

/*background for Guest Button And Icon */
.prm-primary-bg.prm-hue2, prm-main-menu[menu-type=full] md-backdrop, prm-search-bookmark-filter .md-button, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-user-area, prm-user-area md-fab-trigger>.md-button .md-fab-toolbar-background {
    background-color: #fff;
}

  /*Hover */
  /*NAV BAR REGULAR button hover */
  prm-topbar .md-button:focus, prm-topbar .md-button:hover {
      color: #fff !important;
      background-color: #004065 !important;
      box-shadow: none;
  }

  prm-user-area .user-menu-button .user-name {
      text-transform: none;
      font-weight: 600;
      color: #0096D6;
      text-align: left;
      max-width: 150px;
  }

/*  TOPBAR - USER AREA - HOVER COLOR */
  md-fab-toolbar md-toolbar {
      background-color: #fff !important;
      pointer-events: none;
      z-index: 23;
  }
  
/*Top Bar- User Area - Button Link Color - On Hover */
/*Language Button hover */

prm-topbar .md-button {
  color: #004065 !important;
  text-transform: none;
  height: 100%;
  border-radius: 0;
  margin: 0;
}

prm-user-area md-fab-toolbar .md-fab-action-item md-input-container md-select, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container .md-input-container-dummy > .md-select-dummy, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container md-select, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container .md-input-container-dummy > .md-select-dummy {
    color: #004065;
    height: 100%;
}

/*User Area - Hover - Button  Color - My Library Card*/
prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]) {
    color: #004065;
}

prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]) {
      color: #004065;
  }

  /*User Area - Hover - Button on Hover Color - My Library Card*/
prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]):focus, prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]):hover, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]):focus, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]):hover {
    background-color: #fff;
    color: #004065;
    box-shadow: none!important;
}

/*Language Label - On Hover!! */
prm-user-area md-fab-toolbar .md-fab-action-item md-input-container md-select:hover, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container .md-input-container-dummy:hover {
    color: #fff; /*Language - English- Text Color */
    background-color: #004065; /*background-color for English Label*/
    height: 100%;
}

/* search bar */
.prm-primary-bg, prm-atoz-search-bar, prm-browse-search-bar, prm-collection-gallery-header .collection-header-inner, prm-newspapers-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark::after, prm-tags-search-bar {
    background-color: #004065;
}

/* sign in
.bar.alert-bar {
	background-color: #E9D5A3;
} */

/* no truncation of facets - via WRLC 
  Wraps institution names instead of truncating on Primo facet sidebar
*/

div.md-chip.animate-opacity-and-scale.facet-element-marker-institution strong {
    white-space: normal;
    overflow: visible;
    text-indent : -1.5em ;
    margin-left :  1.5em ;
}
div.md-chip.animate-opacity-and-scale.facet-element-marker-institution {
        height: auto;
}

/* improve font-weight and spacing around request form radio buttons */
md-radio-group .label {
    margin: 0;
    margin-right: 1em;
    font-weight: bold;
    font-size: large;
}

md-radio-button ._md-label {
    left: auto;
    right: auto;
    margin-left: 20px;
    margin-right: 10px;
}

/* WRLC announce CSS */
.material-icons.gray { 
  color: #808080;
}

#wrlc-announce-icon {
  margin-right:12px;
}

#dismiss-announcement {
  min-width: 0px;
}

#wrlc-announce-banner {
  background-color: lightblue;
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  height: 50px;
}

prm-search-bar {
  padding-bottom: 58.5px;
}
.__sm prm-search-bar {
  padding-bottom: 50px;
}
.__xs prm-search-bar {
  padding-bottom: 50px;
}

/* hide personal details tab */
prm-account-overview md-tabs md-pagination-wrapper md-tab-item:last-of-type {
  display:none;
}

prm-account-overview md-tabs md-pagination-wrapper md-ink-bar:last-of-type {
  display:none;
}
